<%- include(`../partials/root/head`) %>

<link rel="stylesheet" type="text/css" href="/styles/admin/login.css">

<%- include(`../partials/root/head-end`) %>

<%- include(`../partials/root/header`) %>

<div class="login">

    <h1>Login to Bhutan Teer</h1>

    <form method="post" action="/admin/login">
      <p><input type="email" name="email" value="" placeholder="Enter your Email"></p>
      <p><input type="password" name="password" value="" placeholder="Enter your Password"></p>
      </p>
      <p class="submit"><input type="submit" name="commit" value="Login"></p>
    </form>

  </div>
  
  <%- include(`../partials/root/elements/projectCard`) %>

    <%- include(`../partials/root/footer`) %>

    <%- include(`../partials/root/end`) %>