<%- include(`../partials/root/head`) %>

<%- include(`../partials/root/head-end`) %>

<%- include(`../partials/root/header`) %>

<div>
    <h6 class="dateclass">REPUTED COUNTERS</h6>
</div>

<%if(currentUser){%>
    <%if(currentUser.role.includes('admin')){%>
        <a href="/reputedcounter/addreputedcounter" type="button" class="btn btn-sm mb-3  btn-dark">Add ReputedCounter</a>
    <%}%>
<%}%>

    <hr style="width:50%;text-align:center;background-color:black;">

<table>
    <tr>
        <th class="thbg">License No.</th>
        <th class="thbg">Address</th>
        <%if(currentUser){%>
            <%if(currentUser.role.includes('admin')){%>
        <th>Action</th>
         <%}%>
        <%}%>
    </tr>

    <%reputedcounter.forEach((data)=>{%>               
        <tr>
            
            <td><%=data.licenseno%></td>
            <td><%=data.address%></td>
            <%if(currentUser){%>
                <%if(currentUser.role.includes('admin')){%>
            <td><form action="/reputedcounter/<%=data._id %>/delete?_method=DELETE" method="POST">
                <button class="btn btn-sm  btn-dark text-center bg-white text-dark mb-3" class="">Delete</button>
            </form></td>
                <%}%>
            <%}%>
        </tr>
    <%})%>
</table>

<script>
    var tables = document.getElementsByTagName('table');
    var table = tables[tables.length - 1];
    var rows = table.rows;
    for (var i = 1, td; i < rows.length; i++) {
        td = document.createElement('td');
        td.appendChild(document.createTextNode(i + 0));
        rows[i].insertBefore(td, rows[i].firstChild);
    }
</script>
      
<%- include(`../partials/root/elements/projectCard`) %>

<%- include(`../partials/root/footer`) %>

<%- include(`../partials/root/end`) %>
    