<%- include(`../partials/root/head`) %>

<link rel="stylesheet" type="text/css" href="/styles/admin/register.css">

<%- include(`../partials/root/head-end`) %>

<%- include(`../partials/root/header`) %>

<div class="register">

    <h1>Add Predict Target</h1>
    <form method="POST" action="/predicttarget">
      <p><input type="text" name="number" value="" placeholder="Enter predict target" required></p>
      <p class="submit"><input type="submit" name="commitreg" value="Submit"></p>
    </form>
  </div>
  
  <%- include(`../partials/root/elements/projectCard`) %>

  <%- include(`../partials/root/footer`) %>

  <%- include(`../partials/root/end`) %>