<%- include(`./partials/root/head`) %>

<link rel="stylesheet" type="text/css" href="/styles/careers.css">

<%- include(`./partials/root/head-end`) %>

<%- include(`./partials/root/header`) %>

<div>
    <div id="main">
    	<div class="fof">
        	<h1>Error 404</h1>
            <p>Page Not Found</p>
            <p>Sorry, an error has occured, Requested page not found!</p>
    	</div>
</div>
      
    


      <main class="gridothers">
        <article>
            <a href="commonnumber.html">
          <img src="images/commonnumber.jpg" alt="Sample photo" >
        </a>
        </article>
        <article>
            <a href="analytics.html">
          <img src="images/analytics.jpg" alt="Sample photo">
        </a>
        </article>
        <article>
            <a href="predicttarget.html">
          <img src="images/predictedcounter.jpg" alt="Sample photo">
        </a>
        </article>
        <article>
            <a href="previousresult.html">
          <img src="images/previousresults.jpg" alt="Sample photo">
        </a>
        </article>
        <article>
            <a href="teercalendar.html">
          <img src="images/teercalendar.jpg" alt="Sample photo">
        </a>
        </article>
        <article>
            <a href="reputedcounters.html">
          <img src="images/reputedcounter.jpg" alt="Sample photo">
        </a>
        </article>
    
    </main>


    <%- include(`./partials/root/footer`) %>

    <%- include(`./partials/root/end`) %>
    