<%- include(`./partials/root/head`) %>

<%- include(`./partials/root/head-end`) %>

<%- include(`./partials/root/header`) %>

<div>
    <div id="main">
    	<div class="fof">
        	<h1>Error 404</h1>
            <p>Page Not Found</p>
            <p>Sorry, an error has occured, Requested page not found!</p>
    	</div>
</div>
      
    <%- include(`./partials/root/elements/projectCard`) %>

    <%- include(`./partials/root/footer`) %>

    <%- include(`./partials/root/end`) %>
    