<%- include(`./partials/root/head`) %>

<%- include(`./partials/root/head-end`) %>

<%- include(`./partials/root/header`) %>

<div>
    <h6 class="dateclass">ANALYTICS</h6>
    </div>
    <hr style="width:50%;text-align:center;background-color:black;">

<%if(analytics){%>
    <%analytics.forEach((data)=>{%>
        <div class="info" >
            <p><strong>Targeted By : <%=data.name%></strong></p>
          </div> 
    <%})%>
<%}%>

  <%- include(`./partials/root/elements/projectCard`) %>

  <%- include(`./partials/root/footer`) %>

  <%- include(`./partials/root/end`) %>