
<%- include(`./partials/root/head`) %>

<!-- <link rel="stylesheet" type="text/css" href="/styles/careers.css"> -->

<%- include(`./partials/root/head-end`) %>

<%- include(`./partials/root/header`) %>

<div>
    <h6 class="dateclass">01-09-2021</h6>
    </div>
    <table>
    <tr>
    <th colspan=2 class="thbghead">BHUTAN TEER</th>
    </tr>
      <tr>
        <th class="thbg">F/R(XX:XX PM)</th>
        <th class="thbg">S/R(XX:XX PM)</th>
      </tr>
      <tr>
        <td>XX</td>
        <td>XX</td>
      </tr>
    
    </table>
    <main class="grid">
      <article>
          <a href="commonnumber.html">
        <img src="/images/commonnumber.jpg" alt="Sample photo" >
      </a>
      </article>
      <article>
          <a href="#">
        <img src="/images/teerbhutansocial.jpg" alt="Sample photo">
      </a>
      </article>
      <article>
          <a href="dreamnumber.html" >
        <img src="/images/dreamnumber.jpg" alt="Sample photo">
      </a>
      </article>
      <article>
          <a href="analytics.html">
        <img src="images/analytics.jpg" alt="Sample photo">
      </a>
      </article>
      <article>
          <a href="predicttarget.html">
        <img src="images/predictedcounter.jpg" alt="Sample photo">
      </a>
      </article>
      <article>
          <a href="previousresult.html">
        <img src="images/previousresults.jpg" alt="Sample photo">
      </a>
      </article>
      <article>
          <a href="teercalendar.html">
        <img src="images/teercalendar.jpg" alt="Sample photo">
      </a>
      </article>
      <article>
          <a href="reputedcounters.html">
        <img src="images/reputedcounter.jpg" alt="Sample photo">
      </a>
      </article>
      <article>
          <a href="champions.html">
        <img src="images/champions.jpg" alt="Sample photo">
      </a>
      </article>
    </main>
    </div>
    
    </main>

    <%- include(`./partials/root/footer`) %>

    <%- include(`./partials/root/end`) %>