
<%- include(`./partials/root/head`) %>

<%- include(`./partials/root/head-end`) %>

<%- include(`./partials/root/header`) %>

<div>
    <h6 class="dateclass">01-09-2021</h6>
    </div>
    <table>
    <tr>
    <th colspan=2 class="thbghead">BHUTAN TEER</th>
    </tr>
      <tr>
        <th class="thbg">F/R(XX:XX PM)</th>
        <th class="thbg">S/R(XX:XX PM)</th>
      </tr>
      <tr>
        <td>XX</td>
        <td>XX</td>
      </tr>
    
    </table>

    <%- include(`./partials/root/elements/projectCard`) %>
    
    </div>
    
    </main>

    <%- include(`./partials/root/footer`) %>

    <%- include(`./partials/root/end`) %>