<%- include(`../partials/root/head`) %>

<link rel="stylesheet" type="text/css" href="/styles/admin/register.css">

<%- include(`../partials/root/head-end`) %>

<%- include(`../partials/root/header`) %>

<div class="register">
    <h1>Add  Result</h1>
    <form method="POST" action="/result">
      <p><input type="text" name="round1time" value="" placeholder="Enter Time for Round 1"></p>
      <p><input type="text" name="round1result" value="" placeholder="Enter Data for Round 1"></p>
      <p><input type="text" name="round2time" value="" placeholder="Enter Time for Round 2"></p>
      <p><input type="text" name="round2result" value="" placeholder="Enter Data for Round 2"></p>
      </p>
      <p class="submit"><input type="submit" name="commitreg" value="Register"></p>
    </form>
  </div>
  
  <%- include(`../partials/root/elements/projectCard`) %>

  <%- include(`../partials/root/footer`) %>

  <%- include(`../partials/root/end`) %>