<%- include(`../partials/root/head`) %>

<link rel="stylesheet" type="text/css" href="/styles/admin/register.css">

<%- include(`../partials/root/head-end`) %>

<%- include(`../partials/root/header`) %>

<div class="register">

    <h1>Add  TeeChampion</h1>
    <form method="POST" action="/teerchampion">
      <p><input type="text" name="teerchampion[name]" value="" placeholder="Enter Name"></p>
      <p><input type="text" name="teerchampion[year]" value="" placeholder="Enter year"></p>
      <p class="submit"><input type="submit" name="commitreg" value="Add Champion"></p>
    </form>
  </div>
  
  <%- include(`../partials/root/elements/projectCard`) %>

  <%- include(`../partials/root/footer`) %>

  <%- include(`../partials/root/end`) %>